@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --background-image-body: linear-gradient(to right bottom, #FF3366, #BA265D);
  --border-bottom-initial: 1px solid $color-grey-light-4;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /*font-size: 62.5%;*/
  font-size: 62.5%;
}

/* body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    background-color: #eb2f64;
} */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background-color: #eb2f64;
  background-image: var(--background-image-body);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 1.5rem 4rem #333;
  min-height: calc(100vh - 16rem);
}

header.header {
  /*height: 7rem;*/
  background-color: #faf9f9;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header .logo-box {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
  color: #eb2f64;
}
header.header .logo-box .logo-img {
  height: 4rem;
}
header.header .header__search-box {
  flex: 0 0 40%;
  font-size: 1.4rem;
}
header.header .header__search-box-form {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
header.header .header__search-box-form-input {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 100px;
  width: -webkit-fill-available;
  transition: box-shadow 0.3s ease;
}
header.header .header__search-box-form-input::placeholder {
  color: #777;
}
header.header .header__search-box-form-input:focus {
  box-shadow: 0 1.5rem 4rem #333;
}
header.header .header__search-box-form-input::webkit-input-placeholder {
  color: #777;
  font-weight: 100;
}
header.header .header__search-box-form-button {
  position: absolute;
  margin-left: -5rem;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #eb2f64;
  color: #faf9f9;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s ease;
}
header.header .header__search-box-form-button:hover {
  background-color: #BA265D;
}
header.header .header__search-box-form-button:focus {
  outline: none;
}
header.header .header__nav {
  float: right;
  display: flex;
  align-items: center;
  align-self: stretch;
}
header.header .header__nav > * {
  padding: 0 1rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
header.header .header__nav > *:hover {
  background-color: #f4f2f2;
}
header.header .header__nav ul.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
header.header .header__nav ul.header__list li.header__item {
  display: inline-block;
  margin-left: 3rem;
}
header.header .header__nav ul.header__list li.header__item a.header__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #777;
  padding: 1.5rem 0;
  display: block;
}
header.header .header__nav ul.header__list li.header__item a.header__link:hover, header.header .header__nav ul.header__list li.header__item a.header__link.active {
  border-bottom: 2px solid #eb2f64;
}
header.header .header__nav .header__bookmark-box {
  /* display: inline-block; */
  /* margin-left: 3rem; */
  position: relative;
}
header.header .header__nav .header__bookmark-box-icon {
  font-size: 2.5rem;
  color: #777;
  cursor: pointer;
}
header.header .header__nav .header__bookmark-box-icon:hover, header.header .header__nav .header__bookmark-box-icon.active {
  color: #eb2f64;
}
header.header .header__nav .header__bookmark-box-count {
  /*position: absolute;
  top: -1rem;
  right: -1.5rem;*/
  background-color: #eb2f64;
  color: #faf9f9;
  font-size: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
  margin-left: -1.2rem;
  margin-top: -2rem;
}
header.header .header__nav .header__chat-box {
  /*  display: inline-block; */
  /* margin-left: 3rem; */
  position: relative;
}
header.header .header__nav .header__chat-box-icon {
  font-size: 2.5rem;
  color: #777;
  cursor: pointer;
}
header.header .header__nav .header__chat-box-icon:hover, header.header .header__nav .header__chat-box-icon.active {
  color: #eb2f64;
}
header.header .header__nav .header__chat-box-count {
  /*position: absolute;
  top: -1rem;
  right: -1.5rem;*/
  background-color: #eb2f64;
  color: #faf9f9;
  font-size: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
  margin-left: -1.2rem;
  margin-top: -2rem;
}
header.header .header__nav .header__user-box {
  /* display: inline-block; */
  /* margin-left: 3rem; */
  position: relative;
}
header.header .header__nav .header__user-box-photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5rem;
}
header.header .header__nav .header__user-box-name {
  font-size: 1.4rem;
  color: #777;
  vertical-align: middle;
}
header.header .header__nav .header__user-box-icon {
  font-size: 2.5rem;
  color: #777;
  cursor: pointer;
}
header.header .header__nav .header__user-box-icon:hover, header.header .header__nav .header__user-box-icon.active {
  color: #eb2f64;
}
header.header .header__text-box {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $color-grey-dark-1; */
}
header.header .header__text-box .heading-primary {
  /* font-size: 3.5rem; */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin-bottom: 1rem;
}
header.header .header__text-box .heading-secondary {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}
header.header .header__text-box-btn--download {
  margin-top: 4rem;
  font-size: 1.4rem;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 100px;
  background-color: #eb2f64;
  color: #faf9f9;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
header.header .header__text-box-btn--download:hover {
  background-color: #BA265D;
}
header.header .header__text-box-btn--download:focus {
  outline: none;
}

section.main-content {
  display: flex;
}
section.main-content main.hotel-view {
  /* background-color: $color-grey-light-3; */
  flex: 1;
}
section.main-content main.hotel-view .section-about {
  /* padding: 5rem 10rem; */
  display: flex;
  background-color: #faf9f9;
  border-bottom: var(--border-bottom-initial);
}
section.main-content main.hotel-view .section-about .description {
  background-color: #faf9f9;
  font-size: 1.6rem;
  color: #777;
  line-height: 1.7;
  flex: 0 0 60%;
  padding: 3rem;
}
section.main-content main.hotel-view .section-about .description__heading {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
section.main-content main.hotel-view .section-about .description__text {
  /*margin-bottom: 2rem;*/
  border-bottom: var(--border-bottom-initial);
  padding-bottom: 2rem;
}
section.main-content main.hotel-view .section-about .description__text:not(:last-of-type) {
  margin-bottom: 2rem;
}
section.main-content main.hotel-view .section-about .description__text:last-child {
  border-bottom: none;
}
section.main-content main.hotel-view .section-about .facilities {
  background-color: #f4f2f2;
  box-shadow: 0 1.5rem 4rem #333;
  padding: 2rem;
  flex: 1;
}
section.main-content main.hotel-view .section-about .facilities__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
section.main-content main.hotel-view .section-about .facilities__list__item {
  flex: 0 0 50%;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #777;
}
section.main-content main.hotel-view .section-about .facilities__list__item__icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: currentColor;
  margin-right: 1rem;
}

nav.sidebar {
  background-color: #faf9f9;
  border-right: 1px solid #ccc;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav.sidebar ul.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}
nav.sidebar ul.sidebar__list li.sidebar__item {
  border-bottom: var(--border-bottom-initial);
  position: relative;
}
nav.sidebar ul.sidebar__list li.sidebar__item a.sidebar__link {
  display: block;
  padding: 1.5rem 2rem;
  color: #777;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
nav.sidebar ul.sidebar__list li.sidebar__item a.sidebar__link:hover {
  /*background-color: $color-primary;*/
  color: #faf9f9;
  text-transform: uppercase;
}
nav.sidebar ul.sidebar__list li.sidebar__item a.sidebar__link .sidebar__icon {
  margin-right: 1.5rem;
  fill: currentColor;
}
nav.sidebar ul.sidebar__list li.sidebar__item-active {
  border-bottom: var(--border-bottom-initial);
  position: relative;
}
nav.sidebar ul.sidebar__list li.sidebar__item-active a.sidebar__link {
  display: block;
  padding: 1.5rem 2rem;
  color: #faf9f9;
  text-decoration: none;
  background-color: #eb2f64;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}
nav.sidebar ul.sidebar__list li.sidebar__item-active a.sidebar__link .sidebar__icon {
  margin-right: 1.5rem;
  fill: currentColor;
}
nav.sidebar ul.sidebar__list li.sidebar__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #eb2f64;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease, width 0.3s cubic-bezier(1, 0, 0, 1), background-color 0.3s ease;
}
nav.sidebar ul.sidebar__list li.sidebar__item:hover::before,
nav.sidebar ul.sidebar__list li.sidebar__item-active::before {
  transform: scaleY(1);
  width: 100%;
  cursor: pointer;
}
nav.sidebar ul.sidebar__list li.sidebar__item:active::before {
  background-color: #FF3366;
}
nav.sidebar ul.sidebar__list li.sidebar__item::not(:last-child) a.sidebar__link {
  border-bottom: none;
}
nav.sidebar .sidebar__legal {
  padding: 2rem;
  border-top: 1px solid #ccc;
}
nav.sidebar .sidebar__legal ul.sidebar__legal-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
nav.sidebar .sidebar__legal ul.sidebar__legal-list li.sidebar__legal-item a.sidebar__legal-link {
  font-size: 1.2rem;
  color: #777;
  text-decoration: none;
}
nav.sidebar .sidebar__legal ul.sidebar__legal-list li.sidebar__legal-item a.sidebar__legal-link:hover {
  text-decoration: underline;
}
nav.sidebar .sidebar__legal p.sidebar__legal-copy {
  font-size: 1.2rem;
  color: #777;
  margin-top: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 2rem 0rem 2rem;
}
.gallery__photo {
  width: 100%;
  aspect-ratio: 4/3; /* choose ratio you want */
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.gallery__photo:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.overview {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 2rem;
  padding: 2rem; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.overview__heading {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
}
.overview__stars {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #eb2f64;
  margin-right: auto;
  flex: 1;
}
.overview__stars .overview__star {
  margin-right: 0.5rem;
}
.overview__location {
  font-size: 1.4rem;
  color: #777;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.overview__icon-star, .overview__icon-location {
  width: 1.6rem;
  height: 1.6rem;
  fill: currentColor;
  margin-right: 0.5rem;
}
.overview__rating {
  font-size: 1.4rem;
  color: #777;
  /*margin-top: 0.5rem;*/
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  background-color: #eb2f64;
  color: #faf9f9;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  align-self: stretch;
}
.overview__rating-average {
  font-weight: bold;
}
.overview__rating-count {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.btn-inline {
  display: inline-block;
  border: none;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-inline:hover {
  background-color: #FF3366;
  color: #faf9f9;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.btn-inline:focus {
  outline: none;
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
    box-shadow: 0 0 0 3px rgba(235, 47, 100, 0.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
}
.users_reviews_recommendations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.users_reviews_recommendations .users_reviews {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.users_reviews_recommendations .users_reviews .heading-secondary {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.users_reviews_recommendations .users_reviews .review {
  border-bottom: var(--border-bottom-initial);
  padding-bottom: 1.5rem;
}
.users_reviews_recommendations .users_reviews .review__user {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.users_reviews_recommendations .users_reviews .review__user-photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.5rem;
}
.users_reviews_recommendations .users_reviews .review__user-name {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}
.users_reviews_recommendations .users_reviews .review__user-date {
  font-size: 1.2rem;
  color: #999;
  margin-left: auto;
}
.users_reviews_recommendations .users_reviews .review__rating {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #eb2f64;
  margin-top: 0.5rem;
  margin-left: auto;
}
.users_reviews_recommendations .users_reviews .review__rating-star {
  width: 1.6rem;
  height: 1.6rem;
  fill: currentColor;
  margin-right: 0.5rem;
}
.users_reviews_recommendations .users_reviews .review__text {
  font-size: 1.4rem;
  color: #777;
  line-height: 1.6;
}
.users_reviews_recommendations .recommendations {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.users_reviews_recommendations .recommendations .heading-secondary {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.users_reviews_recommendations .recommendations .recommendations {
  font-size: 1.4rem;
  color: #777;
  line-height: 1.6;
}
.users_reviews_recommendations .recommendations .recommendations__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.users_reviews_recommendations .recommendations .recommendation {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.users_reviews_recommendations .recommendations .recommendation__photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.5rem;
}
.users_reviews_recommendations .recommendations .recommendation__icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: currentColor;
  margin-right: 1rem;
  color: #eb2f64;
}
.users_reviews_recommendations .recommendations .recommendation__text {
  font-size: 1.4rem;
  color: #777;
}
.users_reviews_recommendations .recommendations .recommendation__name {
  font-weight: bold;
  color: #333;
  margin-right: 0.5rem;
}
.users_reviews_recommendations .recommendations .recommendation__location {
  font-size: 1.2rem;
  color: #999;
}
.users_reviews_recommendations .recommendations .recommendation__rating {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #eb2f64;
  margin-left: auto;
}
.users_reviews_recommendations .recommendations .recommendation__rating-star {
  width: 1.6rem;
  height: 1.6rem;
  fill: currentColor;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
