// specify properties instead on _variables.scss

:root {
  --background-image-body: linear-gradient(to right bottom, #{$color-primary-light}, #{$color-primary-dark});
}

* {
    margin: 0;
    padding: 0;
}

*
, *::after
, *::before 
{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    /*font-size: 62.5%;*/
    font-size: $font-size-base;
}

/* body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    background-color: #eb2f64;
} */

body {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-text-color;
    background-color: $body-bg-color;
    background-image: var(--background-image-body);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}