nav.sidebar{
    background-color: $color-grey-light-1;
    border-right: 1px solid $color-grey-light-4;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul.sidebar__list{
        list-style: none;
        margin: 0;
        padding: 0;

        font-size: 1.4rem;

        li.sidebar__item{
            border-bottom: 1px solid $color-grey-light-4;
            position: relative;

            a.sidebar__link{
                display: block;
                padding: 1.5rem 2rem;
                color: $color-grey-dark-2;
                text-decoration: none;
                position: relative;
                z-index: 1;

                &:hover{
                    /*background-color: $color-primary;*/
                    color: $color-grey-light-1;
                    text-transform: uppercase;
                }

                .sidebar__icon{
                    margin-right: 1.5rem;
                    fill: currentColor;
                }
            }
        }
        li.sidebar__item-active{
            border-bottom: 1px solid $color-grey-light-4;
            position: relative;

            a.sidebar__link{
                display: block;
                padding: 1.5rem 2rem;
                color: $color-grey-light-1;
                text-decoration: none;
                background-color: $color-primary;
                position: relative;
                z-index: 1;
                text-transform: uppercase;

                .sidebar__icon{
                    margin-right: 1.5rem;
                    fill: currentColor;
                }
            }
        }
        li.sidebar__item::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background-color: $color-primary;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: 
                transform 0.3s ease
                , width 0.3s cubic-bezier(1, 0, 0, 1)
                , background-color 0.3s ease
            ;
        }
        li.sidebar__item:hover::before,
        li.sidebar__item-active::before{
            transform: scaleY(1); 
            width: 100%;
            cursor: pointer;
        }
        li.sidebar__item:active::before{
            background-color: $color-primary-light;
        }

        li.sidebar__item::not(:last-child) a.sidebar__link{
            border-bottom: none;
        }
    }

    .sidebar__legal{
        padding: 2rem;
        border-top: 1px solid $color-grey-light-4;

        ul.sidebar__legal-list{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            li.sidebar__legal-item{
                a.sidebar__legal-link{
                    font-size: 1.2rem;
                    color: $color-grey-dark-2;
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        p.sidebar__legal-copy{
            font-size: 1.2rem;
            color: $color-grey-dark-2;
            margin-top: 1rem;
        }

    }
}