nav.sidebar{
    background-color: $color-grey-light-1;
    border-right: 1px solid $color-grey-light-4;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul.sidebar__list{
        list-style: none;
        margin: 0;
        padding: 0;

        font-size: 1.4rem;

        @media only screen and (max-width: $bp-medium){
            flex-direction: row;
            display: flex;
            /* flex-wrap: wrap; */
            justify-content: center;
        }

        @media only screen and (max-width: $bp-small){
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @media only screen and (max-width: $bp-tiny){
            gap: 3rem;
        }

        li.sidebar__item{
            border-bottom: var(--border-bottom-initial);
            position: relative;
            
            @media only screen and (max-width: $bp-medium){
                flex: 1;
                text-align: center;
            }

            @media only screen and (max-width: $bp-small){
                flex: 0 0 auto;
                text-align: center;
            }

            @media only screen and (max-width: $bp-tiny){
                flex: 0 0 20%;
                height: 40px;
                width: 40px;
            }

            & a.sidebar__item-link{
                display: block;
                padding: 1.5rem 2rem;
                color: $color-grey-dark-2;
                text-decoration: none;
                position: relative;
                z-index: 1;

                @media only screen and (max-width: $bp-medium){
                    padding: 0px;
                    display: inline-flex;
                    justify-content: center;
                    text-align: center;
                    flex-direction: column;
                }

                @media only screen and (max-width: $bp-small){
                    font-size: 1.3rem; // Smaller text
                }

                @media only screen and (max-width: $bp-smallest){
                    font-size: 1.2rem;
                }

                &:hover{
                    /*background-color: $color-primary;*/
                    color: $color-grey-light-1;
                    text-transform: uppercase;

                    @media only screen and (max-width: $bp-tiny){
                        text-transform: none;
                    }
                }

                .sidebar__icon{
                    margin-right: 1.5rem;
                    fill: currentColor;

                    @media only screen and (max-width: $bp-medium){
                        margin: 0 auto;
                        text-align: center;
                    }

                    /* @media only screen and (max-width: $bp-small){
                        width: 1.8rem;
                        height: 1.8rem;
                        margin-bottom: 0.3rem;
                    }

                    @media only screen and (max-width: $bp-smallest){
                        width: 1.6rem;
                        height: 1.6rem;
                    } */
                }
            }
            &-active{
                border-bottom: var(--border-bottom-initial);
                position: relative;

                & a.sidebar__item-link{
                    color: $color-grey-light-1;
                    background-color: $color-primary;
                    text-transform: uppercase;

                    @media only screen and (max-width: $bp-tiny){
                        text-transform: none;
                    }
                }
            }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 3px;
                height: 100%;
                background-color: $color-primary;
                transform: scaleY(0);
                transform-origin: bottom;
                transition: 
                    transform 0.3s ease
                    , width 0.3s cubic-bezier(1, 0, 0, 1)
                    , background-color 0.3s ease
                ;
            }
            &:hover::before,
            &-active::before{
                transform: scaleY(1); 
                width: 100%;
                cursor: pointer;
            }

            &:active::before{
                background-color: $color-primary-light;
            }

            &::not(:last-child) &-link{
                border-bottom: none;
            }
        }
    }

    .sidebar__legal{
        padding: 2rem;
        border-top: 1px solid $color-grey-light-4;

        @media only screen and (max-width: $bp-medium){
            display: none;
        }

        ul.sidebar__legal-list{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            li.sidebar__legal-item{
                a.sidebar__legal-link{
                    font-size: 1.2rem;
                    color: $color-grey-dark-2;
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        p.sidebar__legal-copy{
            font-size: 1.2rem;
            color: $color-grey-dark-2;
            margin-top: 1rem;
        }

    }
}

//////////////////////
/// Gallery  ///
/// //////////////////////
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem 2rem 0rem 2rem;

    @media only screen and (max-width: $bp-medium){
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    &__photo{
        width: 100%;
        aspect-ratio: 4 / 3; /* choose ratio you want */
        object-fit: cover;
        border-radius: 0.5rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover{
            transform: translateY(-5px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
    }

}

//////////////////////
/// Overview  ///
/// ////////////////////
.overview{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 2rem;
    padding: 2rem; */
    // shadow
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    @media only screen and (max-width: $bp-smallest){
        justify-content: space-between;
    }

    &__heading{
        font-size: 2.4rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $bp-medium){
            font-size: 2rem;
            padding: 1rem 2rem;
        }

        @media only screen and (max-width: $bp-small){
            font-size: 1.8rem;
            padding: 1rem;
            text-align: center;
        }
        @media only screen and (max-width: $bp-smallest){
            flex: 0 0 60%;
            text-align: start;
        }
    }
    &__stars{
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: $color-primary;
        margin-right: auto;
        flex: 1;

        @media only screen and (max-width: $bp-small){
            font-size: 1.2rem;
            margin: 0;
        }

        @media only screen and (max-width: $bp-smallest){
            justify-content: end;
        }

        .overview__star{
            margin-right: 0.5rem;
        }
    }
    &__location{
        font-size: 1.4rem;
        color: $color-grey-dark-2;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        margin-right: 2rem;

        @media only screen and (max-width: $bp-small){
            font-size: 1.2rem;
            justify-content: center;
            margin: 0;
            padding: 1rem;
        }
    }

    &__icon-star
    , &__icon-location{
        width: 1.6rem;
        height: 1.6rem;
        fill: currentColor;
        margin-right: 0.5rem;
    }

    &__rating{
        font-size: 1.4rem;
        color: $color-grey-dark-2;
        /*margin-top: 0.5rem;*/
        display: flex;
        align-items: center;
        margin-left: auto;
        flex-direction: column; 
        justify-content: center;
        background-color: $color-primary;
        color: $color-grey-light-1;
        border-radius: 0.5rem;
        padding: 1rem 1.5rem;
        align-self: stretch;

        @media only screen and (max-width: $bp-small){
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            margin: 0;
            align-self: auto;
        }

        &-average{
            font-weight: bold;
        }
        &-count{
            margin-left: 0.5rem;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}

//////////////////////
/// Button Inline  ///
/// //////////////////////
/// Use for links that look like buttons
.btn-inline{
    display: inline-block;
    border: none;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    &:hover{
        background-color: $color-primary-light;
        color: $color-grey-light-1;
        transform: translateY(-2px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate{
    0%{
        transform: scale(1);
        opacity: 1;
        box-shadow: none;
    }
    50%{
        transform: scale(1.05);
        opacity: 0.7;
        box-shadow: 0 0 0 3px rgba($color-primary, 0.5);
    }
    100%{
        transform: scale(1);
        opacity: 1;
        box-shadow: none;
    }
}

//////////////////////
/// users_reviews_recommendations  ///
/// ////////////////////
.users_reviews_recommendations{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    .users_reviews{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .heading-secondary{
            font-size: 2.4rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;

            @media only screen and (max-width: $bp-medium){
                font-size: 2rem;
                text-align: center;
            }

            @media only screen and (max-width: $bp-small){
                font-size: 1.8rem;
            }

            @media only screen and (max-width: $bp-smallest){
                font-size: 1.6rem;
            }

            @media only screen and (max-width: $bp-ultra-tiny){
                font-size: 1.4rem;
            }
        }

        .review{
            border-bottom: var(--border-bottom-initial);
            /* padding: 3rem;

            position: relative;
            overflow: hidden; */
            
            &__user{

                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                @media only screen and (max-width: $bp-tiny){
                    flex-direction: column;
                }

                &-photo{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 1.5rem;

                    @media only screen and (max-width: $bp-tiny){
                        order: 2;
                    }
                }

                &-box{  
                    
                    &-name{
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: $color-grey-dark-1;
                    }
                    
                    &-date{
                        font-size: 1.2rem;
                        color: $color-grey-dark-3;
                        margin-left: auto;
                    }

                    @media only screen and (max-width: $bp-tiny){
                        order: 3;
                    }
                }
            }

            &__rating{
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                color: $color-primary;
                margin-top: 0.5rem;
                margin-left: auto;

                @media only screen and (max-width: $bp-tiny){
                    order: 1;
                    position: absolute;
                    right: 0;
                    margin-top: -1rem;
                    margin-left: 0;
                }

                &-star{
                    width: 1.6rem;
                    height: 1.6rem;
                    fill: currentColor;
                    margin-right: 0.5rem;

                    @media only screen and (max-width: $bp-tiny){
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                }
            }

            &__text{
                font-size: 1.4rem;
                color: $color-grey-dark-2;
                line-height: 1.6;
                z-index: 10;
                position: relative;
                text-align: justify;
            }
            /* &__text::before{
                content: '\201C'; // Unicode for left double quotation mark
                font-family: Arial, sans-serif;
                font-size: 3rem;
                color: $color-primary;
                vertical-align: top;
                margin-right: 0.5rem;
                line-height: 1;
                position: absolute;
                top: 0rem;
                left: 0rem;
                font-size: 20rem;
                z-index: 1;
            } */
        }
    }

    .recommendations{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .heading-secondary{
            font-size: 2.4rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;

            @media only screen and (max-width: $bp-medium){
                font-size: 2rem;
                text-align: center;
            }

            @media only screen and (max-width: $bp-small){
                font-size: 1.8rem;
            }

            @media only screen and (max-width: $bp-smallest){
                font-size: 1.6rem;
            }

            @media only screen and (max-width: $bp-ultra-tiny){
                font-size: 1.4rem;
            }
        }

        .recommendations{
            font-size: 1.4rem;
            color: $color-grey-dark-2;
            line-height: 1.6;

            &__list{
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
        .recommendation{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            @media only screen and (max-width: $bp-tiny){
                flex-direction: column;
            }

            &__photo{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 1.5rem;

                @media only screen and (max-width: $bp-tiny){
                    order: 2;
                    margin: 0;
                }
            }

            &__icon{
                width: 1.6rem;
                height: 1.6rem;
                fill: currentColor;
                margin-right: 1rem;
                color: $color-primary;
            }
            &__text{
                font-size: 1.4rem;
                color: $color-grey-dark-2;
            }
            &__name{
                font-weight: bold;
                color: $color-grey-dark-1;
                margin-right: 0.5rem;

                @media only screen and (max-width: $bp-tiny){
                    order: 3;
                    margin: 0;
                }
            }
            &__location{
                font-size: 1.2rem;
                color: $color-grey-dark-3;

                @media only screen and (max-width: $bp-tiny){
                    order: 4;
                }
            }
            &__rating{
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                color: $color-primary;
                margin-left: auto;

                @media only screen and (max-width: $bp-tiny){
                    order: 1;
                    position: absolute;
                    right: 0;
                    margin-top: -1rem;
                }

                &-star{
                    width: 1.6rem;
                    height: 1.6rem;
                    fill: currentColor;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

//////////////////////
/// CTA  ///
/// ////////////////////
.cta{
    background-color: $color-primary;
    color: $color-grey-light-1;
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: $bp-medium){
        padding: 2rem 1rem;
    } 

    .heading-secondary{
        font-size: 2.4rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.05rem;

        @media only screen and (max-width: $bp-medium){
            font-size: 2rem;
            text-align: center;
        }

        @media only screen and (max-width: $bp-small){
            font-size: 1.8rem;
        }

        @media only screen and (max-width: $bp-smallest){
            font-size: 1.6rem;
        }

        @media only screen and (max-width: $bp-ultra-tiny){
            font-size: 1.4rem;
        }
    }

    .btn{
        font-size: 1.6rem;
        padding: 1.5rem 3rem;
        border-radius: 10rem; // 100px = pill shape in rem = 10rem
        border: 2px solid $color-primary;
        /* aaaaaaa */
        color: $color-grey-light-1;
        border-color: $color-primary-light;
        cursor: pointer;
        font-weight: 300;
        text-transform: uppercase;
        transition: all 0.3s ease;

        position: relative;
        overflow: hidden;

        background-image: linear-gradient(
            to left,
            $color-primary-light,
            $color-primary-dark
        );

        @media only screen and (max-width: $bp-small){
            font-size: 1.4rem;
            padding: 1rem 2rem;
        }

        & > * {
            display: inline-block;
            height: 100%;
            width: 100%;
            transition: all 0.3s ease;
            text-align: center;
        }

        &__visible{
            padding: 1rem;
            transform: translateY(0);
        }
        &__invisible{
            position: absolute;
            top: -100%;
            left: 0;
            padding: 2rem 0;

            @media only screen and (max-width: $bp-small){
                font-size: 1.4rem;
                padding: 0;
            }
        }

        
        &:hover{
            background-color: $color-primary-dark;
            color: $color-grey-light-1;
            transform: translateY(-2px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

            .btn__invisible{
                top: 10%;

                @media only screen and (max-width: $bp-small){
                    top: 25%;
                }
            }

            .btn__visible{
                transform: translateY(200%);
            }
        }

        &:focus{
            outline: none;
            animation: pulsate 1s infinite;
        }
    }

}