.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: $color-grey-light-2;
    box-shadow: $shadow-dark;
    min-height: calc(100vh - 16rem);

    @media only screen and (max-width: $bp-largest){
        margin: 0px;
    }

    @media only screen and (max-width: $bp-large){
        max-width: none;
    }
}

header.header{
    /*height: 7rem;*/
    background-color: $color-grey-light-1;
    border-bottom: 1px solid $color-grey-light-4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-medium){
        justify-content: space-around;
    }

    @media only screen and (max-width: $bp-small){
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    .logo-box{
        font-size: 2.5rem;
        font-weight: 700;
        padding: 1.5rem 2rem;
        color: $color-primary;

        @media only screen and (max-width: $bp-medium){
            padding: 0rem;
        }

        .logo-img{
            height: 4rem; 
        }
    }
    .header__search-box{ 
        flex: 0 0 40%;
        font-size: 1.4rem;

        @media only screen and (max-width: $bp-small){
            order: 1;
            flex: 0 0 100%;
            margin: 1rem 0;
            height: auto;
            width: 100%;
        }

        &-form{
            /* display: flex;
            align-items: center;
            justify-content: space-between; */

            @media only screen and (max-width: $bp-small){
                position: relative;
                text-align: center;
            }

            &-input{
                font-size: 1.4rem;
                padding: 1rem 2rem;
                border: none;
                outline: none;
                border-radius: 100px;
                // width: 90%;
                width: -webkit-fill-available;
                transition: box-shadow 0.3s ease;

                @media only screen and (max-width: $bp-small){
                    width: 80%;
                    padding: 1rem;
                }

                @media only screen and (max-width: $bp-smallest){
                    width: 85%;
                }

                &::placeholder{
                    color: $color-grey-dark-2;
                }
                &:focus{
                    box-shadow: $shadow-dark;
                }
                &::webkit-input-placeholder {
                    color: $color-grey-dark-2;
                    font-weight: 100;
                }
            }
            &-button{
                position: absolute;
                margin-left: -5rem;
                font-size: 1.4rem;
                padding: 1rem 2rem;
                border: none;
                background-color: $color-primary;
                color: $color-grey-light-1;
                cursor: pointer;
                border-radius: 100px;
                transition: background-color 0.3s ease;
                

                &:hover{
                    background-color: $color-primary-dark;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .header__nav{
        float: right;
        display: flex;
        align-items: center;
        align-self: stretch;

        & > * {
            padding: 0 1rem;
            cursor: pointer;
            height: 100%; 
            display: flex;
            align-items: center;
        }

        & > *:hover{
            background-color: $color-grey-light-2;
        }

        ul.header__list{
            list-style: none;
            margin: 0;
            padding: 0;

            li.header__item{
                display: inline-block;
                margin-left: 3rem;

                a.header__link{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    color: $color-grey-dark-2;
                    padding: 1.5rem 0;
                    display: block;

                    &:hover,
                    &.active{
                        border-bottom: 2px solid $color-primary;
                    }
                }
            }
        }

        .header__bookmark-box{
            /* display: inline-block; */
            /* margin-left: 3rem; */
            position: relative;

            &-icon{
                font-size: 2.5rem;
                color: $color-grey-dark-2;
                cursor: pointer;

                &:hover,
                &.active{
                    color: $color-primary;
                }
            }

            &-count{
                /*position: absolute;
                top: -1rem;
                right: -1.5rem;*/
                background-color: $color-primary;
                color: $color-grey-light-1;
                font-size: 1.2rem;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                text-align: center;
                line-height: 2.5rem;
                margin-left: -1.2rem;
                margin-top: -2rem;
            }
        }

        .header__chat-box{
           /*  display: inline-block; */
            /* margin-left: 3rem; */
            position: relative;

            &-icon{
                font-size: 2.5rem;
                color: $color-grey-dark-2;
                cursor: pointer;

                &:hover,
                &.active{
                    color: $color-primary;
                }
            }

            &-count{
                /*position: absolute;
                top: -1rem;
                right: -1.5rem;*/
                background-color: $color-primary;
                color: $color-grey-light-1;
                font-size: 1.2rem;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                text-align: center;
                line-height: 2.5rem;
                margin-left: -1.2rem;
                margin-top: -2rem;
            }
        }
        .header__user-box{
            /* display: inline-block; */
            /* margin-left: 3rem; */
            position: relative;

            &-photo{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: .5rem;
            }

            &-name{
                font-size: 1.4rem;
                color: $color-grey-dark-2;
                vertical-align: middle;
            }

            &-icon{
                font-size: 2.5rem;
                color: $color-grey-dark-2;
                cursor: pointer;

                &:hover,
                &.active{
                    color: $color-primary;
                }
            }
        }
    }
    .header__text-box{
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-grey-dark-1; */

        .heading-primary{
            /* font-size: 3.5rem; */
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.5rem;
            margin-bottom: 1rem;
        }

        .heading-secondary{
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: .5rem;
        }

        &-btn--download{
            margin-top: 4rem;
            font-size: 1.4rem;
            padding: 1.5rem 3rem;
            border: none;
            border-radius: 100px;
            background-color: $color-primary;
            color: $color-grey-light-1;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            @media only screen and (max-width: $bp-medium){
                padding: 1rem;
                font-size: 1.2rem;
                // replace the text with an icon
                .text__download{
                    display: none;
                }
                .fa-download{
                    display: inline-block;
                }
            }
        }

        &-btn--download:hover{
            background-color: $color-primary-dark;
        }

        &-btn--download:focus{
            outline: none;
        }
    }
}

section.main-content{

    display: flex;

    @media only screen and (max-width: $bp-medium){
        flex-direction: column;
    }

    main.hotel-view{
        /* background-color: $color-grey-light-3; */
        flex: 1;

        .section-about{
            /* padding: 5rem 10rem; */
            display: flex;
            background-color: $color-grey-light-1;
            border-bottom: var(--border-bottom-initial);

            @media only screen and (max-width: $bp-medium){
                flex-direction: column;

                .heading-secondary{
                    text-align: center;
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
            }

            .description{
                background-color: $color-grey-light-1;
                font-size: 1.6rem;
                color: $color-grey-dark-2;
                line-height: 1.7;
                flex: 0 0 60%;
                padding: 3rem;

                @media only screen and (max-width: $bp-medium){
                    padding: 2rem;
                    order: 2;
                }

                @media only screen and (max-width: $bp-small){
                    padding: 1rem;
                }

                &__heading{
                    font-size: 2.4rem;
                    margin-bottom: 2rem;
                    letter-spacing: 0.05rem;
                    text-transform: uppercase;

                    @media only screen and (max-width: $bp-medium){
                        font-size: 2rem;
                    }

                    @media only screen and (max-width: $bp-small){
                        font-size: 1.8rem;
                    }

                    @media only screen and (max-width: $bp-smallest){
                        font-size: 1.6rem;
                    }

                    @media only screen and (max-width: $bp-ultra-tiny){
                        font-size: 1.4rem;
                    }
                }

                &__text{
                    /*margin-bottom: 2rem;*/
                    border-bottom: var(--border-bottom-initial);
                    padding-bottom: 2rem;
                    text-align: justify;

                    @media only screen and (max-width: $bp-medium){
                        font-size: 1.4rem;
                        padding-bottom: 1.5rem;
                    }

                    @media only screen and (max-width: $bp-small){
                        font-size: 1.3rem;
                        padding-bottom: 1rem;
                    }

                    @media only screen and (max-width: $bp-smallest){
                        font-size: 1.2rem;
                    }
                }
                &__text:not(:last-of-type){
                    margin-bottom: 2rem;
                }
                &__text:last-child{
                    border-bottom: none;
                }
            }

            .facilities
            {
                background-color: $color-grey-light-2;
                box-shadow: $shadow-dark;
                padding: 2rem;
                flex: 1;

                @media only screen and (max-width: $bp-medium){
                    order: 1;
                    padding: 1.2rem;
                }

                &__list{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;

                    &__item{
                        flex: 0 0 50%;
                        margin-bottom: 1rem;
                        font-size: 1.4rem;
                        color: $color-grey-dark-2;

                        @media only screen and (max-width: $bp-medium){
                            margin-bottom: 0.8rem;
                            font-size: 1.3rem; 
                        }

                        @media only screen and (max-width: $bp-small){
                            margin-bottom: 0.6rem;
                            font-size: 1.2rem; 
                        }

                        @media only screen and (max-width: $bp-smallest){
                            flex: 0 0 40%;
                            margin: 0 auto;
                            justify-content: center;
                            font-size: 1.1rem;
                        }

                        @media only screen and (max-width: $bp-ultra-tiny){
                            flex: 0 0 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: anchor-center;
                        }

                        &__icon{
                            width: 1.6rem;
                            height: 1.6rem;
                            fill: currentColor;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}