/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$font-family-base: 'Open Sans', sans-serif;
$font-weight-base: 400;
$font-size-base: 62.5%;
$line-height-base: 1.6;
$body-bg-color: $color-primary;
$body-text-color: $color-grey-dark-2;
$shadow-dark: 0 1.5rem 4rem $color-grey-dark-1;
$bp-largest: 75em; // 1200px